*{
  font-family:  'sarala';
}
ion-label{
      color: black;
      font-size: 14px;
  }
p{
  font-size: 14px;
  //text-align: justify;
  color: black;
}
.overview{
  --indicator-color:#753a88;
}
.Benifits{
  --indicator-color:#753a88;
}
.Pre-requisites{
  --indicator-color:#753a88;
}
.Deliverables{
  --indicator-color:#753a88;
}
.Faqs{
  --indicator-color:#753a88;
}

a{
  text-decoration: none;
}

.warning{
  background-color: skyblue;
  padding: 10px 30px;
}

ion-segment-button{
  text-transform: initial;
  background-color: #753a88;
  
}

h5{
  color: black;
}
.btn {
  border: 2px solid ;
  background-color: white;
  cursor: pointer;
}

.primary {
  border-color: blue;
  color: blue;
  font-size: 14px;
}
.warning{
    font-size: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
}

.left{
  color: black;
  font-size: 16px!important;
  position: absolute;
  left: 89%;
  
}
ion-item{
  margin-bottom: 0em;
}
ion-col{
  height: 48px;
}
img{
  margin-bottom: 0em;
}
.ion-4x {
  
  font-size: 25px;
}
  