<ion-header no-border>
  <ion-toolbar style="--background:#753a88;">
  
      <ion-row>
      <ion-col size="4">
      <ion-icon name="arrow-back-outline" style="color: white;font-size:20px;" 
      (click)="closeModal()">
      </ion-icon></ion-col>
      <ion-col size="4">
      <h5 style="color: white;text-align: center;">My Profile</h5></ion-col>
      <ion-col>
      <ion-icon (click)="logout()"
       name="log-in-outline" style="color: white;font-size: 25px;float: right;"
       [routerLink]="['/login']"></ion-icon>
      </ion-col>
      </ion-row>
      <!-- <div>
          <ion-avatar>
            <img src="https://vignette.wikia.nocookie.net/caramella-girls/images/9/99/Blankpfp.png/revision/latest?cb=20190122015011">
          </ion-avatar> 
           
          </div> -->
          <div class="top-head">

          <ion-avatar type="file" id="avatar" (change)="upload()">
          <img [src]="defaultimageshow">
          </ion-avatar>
            
            <div *ngIf="myprofile">
            <ion-avatar (click)="PresentActionsheet()">
            <img [src]="base64temp">
            </ion-avatar>
            </div>

          <ion-icon type="file"
          class="camera-icon" name="camera" (click)="PresentActionsheet()"></ion-icon>
            </div>
        <p style="color: white;text-align: center;"></p>
  </ion-toolbar>
  </ion-header>

<ion-content> 
  
        <div class="tag">
          <h4>Personal Information</h4>
         </div>
         
        <ion-card>
          <ion-card-content>
           
            <h2>Fullname: {{user?.userName}}</h2>
            <br>
            <h2>Email: {{user?.userEmail}}</h2>
            <br>
            <h2>CreatedAt : {{user?.createdAt | date}}</h2>
          </ion-card-content>
        </ion-card>

</ion-content>

<ion-footer>
<ion-button class="ion-button-class" expand="block" side="bottom" 
   routerLink="/profile/edit" (click)="closeModal()" style="--background:#753a88!important;
  font-weight: bold;">Update</ion-button>
</ion-footer>