.la{
    font-weight: lighter;
    padding: 10px;
}
ion-toolbar{
  --background:#753a88!important;

}

ion-footer{
  //color: white;
  --background:#753a88!important;
}

h5{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
h6{
  text-align: center; 
}
*{
  font-family: 'sarala';
  }
   .extra{
     border-radius:25%;
   }
  ion-bottom{
    position: absolute;
    bottom: 0;
  }
  
  .login-header:after{
  content: ' ' ;
  position: absolute;
  bottom:0;
  left:15%;
  width:0;
  height:0;
  border:20px solid transparent;
  
  //border-top-color: var(--theme-color);
  border-bottom: 0;
  margin-left: -15px;
  margin-bottom:-15px;
  }
  [heading-column-lr]{
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  }
  [big-heading] {
    font-size: 30px !important;
    color: black;
    margin: 0px 0px 60px 40px;
  }
  ion-item {
    ion-input{
        color:black;
        font-size:14px;
    }
  }
  
  ion-icon{
    color: #da0641;
  }
  
  ion-content{
     //--background: linear-gradient(#2193b0,#6dd5ed);
     background: white;
    }
    
  
  [small-heading]{
    margin-left:auto;padding-right:40px;font-size: 15px;
  }
  .logo-img{
    width: 11em;
    height: 6em;
    align-items: center;
    position: absolute;
    left: 26%;
    margin: 17px 0px 0px auto;
  }
  
  [transparent]{
    --background:transparent;
  }
  ion-input{
    color:#000;
    --padding-bottom:15px;
    --padding-top:15px;
    --padding-start:5px;
    font-style: normal;
    text-indent: 1px;
    padding-left: 10px!important;
  }
  [icon-small]{
    width:20px;
    margin: 0 0 0 18px;
  }
  ion-item{
    --highlight-color-focused:transparent;
    --highlight-height:0;
    --highlight-color-invalid:#000;
    --highlight-color-valid:#ddd;
    --min-height:65px;
   // --padding-start:0;
    --padding-start: 3%;

  }
  [linespace]{
  height:30px;
  }
  ion-label{
    color:#000;
    opacity: .8;
    font-size:10px;
    font-weight:bold;
    display: block;
    font-family: 'Nunito', sans-serif;
  
  }
  span{
    font-size: 10px;
    color: #fb3434;
      font-weight: bold;
       text-align: inherit;
  }
  
  .forgot-password{
    color: #000;
    font-size:10px;
    display: block;
    text-align: right;
    font-weight:bold;
    padding:10px;
  }
  
  ion-page.register > ion-content{
    background-color: transparent;
  }
  .me{
    position: fixed;
      margin-top: 140px;
      left: 4%;
      width: 90%;
  
  }
  
  
  .fix-bottom-button {
  position: fixed;
  bottom: 0px;
  
  
  }
 
  @media(min-height:735px){
    .center{
      position: absolute;
     left:50%;
      -webkit-transform: translate(-49%, -49%);
      transform:  translate(-49%, -49%);
      width:90%;
    
    }
     
  }
  
  @media(min-height:812px){
    .center{
      position: absolute;
      left:50%;
      -webkit-transform: translate(-49%, -49%);
      transform:  translate(-49%, -49%);
      width:90%;
    
    }
     
  }