<ion-header>
  <ion-toolbar style="--background:#753a88!important;--border-color:white;--border-width:1px;">
     
     <ion-icon slot="start" name="chevron-back-outline" 
      style="color: white;font-size: 20px;padding-left: 5px;" routerLink="/prtct-business"></ion-icon>
      
      <h5 style="text-align: center;color: white;font-size: 15px;font-weight: bold;">
        Copyright Registration</h5>
        <ion-buttons slot="end">
          <ion-button style="background-color: #32CD32	;text-transform: inherit;color:white" 
          routerLink="/getquote">
            Get Quote</ion-button>
        </ion-buttons>
     </ion-toolbar>
   </ion-header>

<ion-content>

<ion-toolbar>

  <ion-segment scrollable
  value="all"

  mode="Android"
  [(ngModel)]="segmentModel" 
  (ionChange)="segmentChanged($event)">

  <ion-segment-button class="overview" value="Overview" scrollX="true" (click)="ScrollToPoint(-300, -120)">
    <ion-label style="color: white;font-weight: 600;">Overview</ion-label>
  </ion-segment-button>

  <ion-segment-button class="Benifits" value="Benifits" scrollX="true">
    <ion-label style="font-weight: bold; color: white;">Benifits </ion-label>
  </ion-segment-button>

  <ion-segment-button class="Pre-requisites" value="Pre-requisites" scrollX="true">
    <ion-label style="font-weight: bold; color: white;">Pre-requisites </ion-label>
  </ion-segment-button>

  <ion-segment-button class="Deliverables" value="Deliverables" scrollX="true">
    <ion-label style="font-weight: bold; color: white;">Deliverables</ion-label>
  </ion-segment-button>

  <ion-segment-button class="Faqs" value="FAQs" scrollX="true">
    <ion-label style="font-weight: bold; color: white;">FAQs</ion-label>
  </ion-segment-button>

  </ion-segment>

</ion-toolbar>

<ion-content [fullscreen]="true" class="ion-padding">

<div *ngIf="segmentModel === 'Overview'">
  <h3 style="text-align: center;font-weight: bold;">Filing in 5days </h3>
  <h4 style="text-align: center;font-weight: bold;">at ₹ 4,999*</h4>
  <br>

  <p style="text-align: center;">Any time. Any where. At Single click</p><br>

  <ion-grid>
    <ion-row>
    <ion-col size="4">
      <ion-chip style="height: 60px;width: 100px;--background: white;">
        <ion-avatar style="width: 100px;height: 60px;">
          <img src="https://www.startupwala.com/images/pan-tan-registration.svg">
        </ion-avatar>
        <ion-label></ion-label>
      </ion-chip>
    </ion-col>
  
    <ion-col size="4">
      <ion-chip style="height: 60px;width: 100px;--background: white;margin-left: 30px;">
        <ion-label style="font-size: 20px;">+</ion-label>
        <ion-avatar style="width: 20px;height: 40px;">
          
        </ion-avatar>
        
      </ion-chip>
    </ion-col>
  
    <ion-col size="3">
      <ion-chip style="height: 60px;width: 100px;--background: white;">
        <ion-avatar style="width: 120px;height: 80px;margin-right: 30px;">
        <img src="https://www.startupwala.com/images/mobile_nav_10.png">
        </ion-avatar>
        </ion-chip>
    </ion-col>
    </ion-row>
    </ion-grid>
  
  
    <ion-grid>
    <ion-row>
    <ion-col size="6">
      <div>
      <p style="font-size: 12px;margin-left: 10px;">All Rights Reserved</p>
      </div>
      </ion-col>
      
      <ion-col size="6">
        <p style="font-size: 12px;margin-left: 30px;">(Copyright your Web site,Videos,photographs,
          Logo,Booksand Software)</p>

      </ion-col>
      </ion-row>
      </ion-grid>

    </div>

  <!--Special Recharge-->

<div *ngIf="segmentModel === 'Benifits'">

  <ion-card style="margin-bottom: 25px;">    
    <ion-row (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" 
    style="width: 234px;height: 70px;">
    <ion-col size="3" style="margin-bottom: 10px;">
    <img src="https://www.startupwala.com/images/limited-liability-protection-to-directors-personal-assets.svg" 
    style="height:50px;width:60px;margin-bottom: 0em;text-align: left;">
    </ion-col>
    <ion-col>
    <div>
    <p>Why to Register Copyright in India</p>
    </div>
    </ion-col>
 <ion-icon class="left" class="left" [name]="isGroupShown(i) ? 'chevron-up-outline' : 'chevron-down-outline'" 
  style="margin-top: 25px;color: gray;text-align: end;" >
  </ion-icon>
</ion-row>
<ion-card-content *ngIf="isGroupShown(i)" style="font-size: 12px;margin-left: 10px;margin-right: 5px;
margin-bottom: 10px;text-align: justify;color: black;">                  
 Copyright is an important property of the owner.
 Copyright protects companies, authors, writers, software developers,
  artists, designers,architects, musicians, creative
 geeks and media houses to protect their creations like software,
  web content, books, videos, artwork, films, songs from copycats             
</ion-card-content>
</ion-card>

 
<ion-card style="margin-bottom: 25px;">    
<ion-row (click)="toggleGroup1(i)" [ngClass]="{active: isGroupShown1(i)}"
style="width: 234px;height: 70px;">
<ion-col size="3" style="margin-bottom: 10px;">

<img src="https://www.startupwala.com/images/better-image-and-credibility-in-market.svg" 
style="height:50px;width:60px;margin-bottom: 0em;text-align: left;">

</ion-col>
<ion-col>
<div>
<p>Protection against Copycats</p>
</div>
</ion-col>
<ion-icon class="left" [name]="isGroupShown1(i) ? 'chevron-up-outline' : 'chevron-down-outline'" 
style="margin-top: 25px;color: gray;text-align: end;">
</ion-icon>
</ion-row>
<ion-card-content *ngIf="isGroupShown1(i)" style="font-size: 12px;margin-left: 10px;margin-right: 5px;
margin-bottom: 10px;text-align: justify;color: black;">                  
Private limited company is popular and well known business structure. Corporate Customers, 
Vendors and Govt. Agencies prefer to deal with Private Limited Company instead of proprietorship or 
normal partnerships.           
</ion-card-content>
</ion-card>


<ion-card style="margin-bottom: 25px;">    
<ion-row (click)="toggleGroup2(i)" [ngClass]="{active: isGroupShown2(i)}"
style="width: 234px;height: 70px;">
<ion-col size="3" style="margin-bottom: 10px;">

<img src="https://www.startupwala.com/images/easy-to-raise-funds-and-loans.svg" 
style="height:50px;width:60px;margin-bottom: 0em;text-align: left;">

</ion-col>
<ion-col>
<div>
<p>Copyright helps in building credibility in Market</p>
</div>
</ion-col>
<ion-icon class="left" [name]="isGroupShown2(i) ? 'chevron-up-outline' : 'chevron-down-outline'" 
style="margin-top: 25px;color: gray;text-align: end;">
</ion-icon>
</ion-row>
<ion-card-content *ngIf="isGroupShown2(i)" style="font-size: 12px;margin-left: 10px;margin-right: 5px;
margin-bottom: 10px;text-align: justify;color: black;">                  
Pvt. Ltd. company enjoys wide options to raise funds through bank loans, Angel Investors, 
Venture Capitalists, in comparison to LLPs and OPCs.             
</ion-card-content>
</ion-card>

<ion-card style="margin-bottom: 25px;">    
<ion-row (click)="toggleGroup3(i)" [ngClass]="{active: isGroupShown3(i)}"
style="width: 234px;height: 70px;">
<ion-col size="3" style="margin-bottom: 10px;">
<img src="https://www.startupwala.com/images/favorite-business-structure-for-investors.svg" 
style="height:50px;width:60px;margin-bottom: 0em;text-align: left;">
</ion-col>
<ion-col>
<div>
<p>Copyright is Most valuable asset of the Company</p>
</div>
</ion-col>
<ion-icon class="left"class="left" [name]="isGroupShown3(i) ? 'chevron-up-outline' : 'chevron-down-outline'" 
style="margin-top: 25px;color: gray;text-align: end;">
</ion-icon>
</ion-row>
<ion-card-content *ngIf="isGroupShown3(i)" style="font-size: 12px;margin-left: 10px;margin-right: 5px;
margin-bottom: 10px;text-align: justify;color: black;">                  
reativity and innovation is basic element of business growth and protecting the creativity is done 
through copyright. More and more businesses go for copyright of their web content, software, product
 and service videos. Music, Film an Publication Industry heavily benefits from Copyright protection.     
</ion-card-content>
</ion-card>


<ion-card style="margin-bottom: 25px;">    
<ion-row (click)="toggleGroup4(i)" [ngClass]="{active: isGroupShown4(i)}"
style="width: 234px;height: 70px;">
<ion-col size="3" style="margin-bottom: 10px;">
<img src="https://www.startupwala.com/images/easy-to-attract-employees.svg" 
style="height:50px;width:60px;margin-bottom: 0em;text-align: left;">
</ion-col>
<ion-col>
<div>
  <p>Helps in expansion of business and earnings            </p>
</div>
</ion-col>
<ion-icon class="left"class="left" [name]="isGroupShown4(i) ? 'chevron-up-outline' : 'chevron-down-outline'" 
style="margin-top: 25px;color: gray;text-align: end;">
</ion-icon>
</ion-row>
<ion-card-content *ngIf="isGroupShown4(i)" style="font-size: 12px;margin-left: 10px;margin-right: 5px;
margin-bottom: 10px;text-align: justify;color: black;">                  
 Copyright can be licensed and rented for price under licensing agreement. Publication and Film 
 Industry solely depends upon copyright licensing and transfer.     
</ion-card-content>
</ion-card>


  </div>

<!-- -------pre-req---- -->
<div *ngIf="segmentModel === 'Pre-requisites'">
  
  <div class="container" style="text-align: start;">
  <ion-icon name="checkmark-circle-outline"
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
  <ion-label>Minimum 2 shareholders</ion-label></div>

<br>
<div class="container" style="text-align: start;">
  <ion-icon name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>Minimum 2 directors</ion-label></div>
<br>
<div class="container" style="text-align: start;">
  <ion-icon name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>The directors and shareholders can be
same person</ion-label></div>
<br>
<div class="container" style="text-align: start;">
  <ion-icon name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>One of the Directors must be Indian 
  Resident</ion-label></div>
<br>
<div class="container" style="text-align: start;">
  <ion-icon name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>DIN (Director Identification Number) 
   for all Directors</ion-label></div>
<br>
<div class="container" style="text-align: start;">
  <ion-icon name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>DSC (Digital Signature Certificate) for 
 all Promoters</ion-label></div>
<br>
</div>
<!--delvrbles-->

<div *ngIf="segmentModel === 'Deliverables'">

  <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
  <ion-label>DIN for 2 Directors</ion-label></div>
  <br>
 
  <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
  <ion-label>Digital Signature Token for all Promoters
  </ion-label></div>
<br>

<div class="container" style="text-align: start;">
  <ion-icon class="left"name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>Company name approval</ion-label></div>
<br>

<div class="container" style="text-align: start;">
  <ion-icon class="left"name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
  <ion-label>MOA + AOA</ion-label></div>  
<br>

<div class="container" style="text-align: start;">
  <ion-icon class="left"name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>Incorporation Certificate</ion-label></div>
  <br>

  <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
  <ion-label>New Incorporation Kit</ion-label></div>
<br>

  <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
  <ion-label>Customized Incorporation Master File</ion-label></div>
   <br>
   <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
    <ion-label>Company PAN Card</ion-label></div>
      <br>

      <div class="container" style="text-align: start;">
        <ion-icon class="left"name="checkmark-circle-outline" 
        style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
      <ion-label>Company TAN/TDS Number</ion-label></div>
    <br>

    <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
    <ion-label>Bank Account Opening Document 
    Support</ion-label></div>
    <br>
    <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
    <ion-label>Domain Name for 1 year + Web
      Hosting + 0 Email Ids <ion-text style="margin-left: 30px;">for 1 year OR</ion-text></ion-label></div>
      <br>
    
    <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
    <ion-label>Online Accounting Software for 1 year</ion-label></div>
     <br>
     <br>
</div>



<div *ngIf="segmentModel === 'FAQs'" >

  <ion-list>
    <ion-card>
      <ion-item >
      <h6 (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" style="color: black;font-size: 13px;">
        1. What is a Copyright?
       <ion-icon class="left" [name]="isGroupShown(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
       style="color: gray;;font-size: 15px;">
      </ion-icon>
      <p *ngIf="isGroupShown(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
      margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
      Copyright is a right or protection given to original creators or owners of content like Authors 
      for Books, software developers for computer programming, Artists or writers for songs or to Companies
       which get the content created by spending money and time.

    </p></h6>
      </ion-item>
      </ion-card>
  
        <ion-card>
        <ion-item>
        <h6 (click)="toggleGroup1(i)" [ngClass]="{active: isGroupShown1(i)}" style="color: black;font-size: 13px;">
          2. What can be Copyrighted?
         <ion-icon class="left" [name]="isGroupShown1(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
         style="color: gray;font-size: 15px;">
        </ion-icon>
        <p *ngIf="isGroupShown1(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
        margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
       Copyright can be applied for Website content, Software codes, Books, Marketing materials, Videos,
        Photographs, logo design and Song recordings.
        </p></h6>
        </ion-item>
        </ion-card>
  
        <ion-card>
        <ion-item>
          <h6 (click)="toggleGroup2(i)" [ngClass]="{active: isGroupShown2(i)}" style="color: black;font-size: 13px;">
            3. How to get a Copyright Protection?
           <ion-icon class="left" [name]="isGroupShown2(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
           style="color: gray;font-size: 15px;">
          </ion-icon>
          <p *ngIf="isGroupShown2(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
          margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
          One can make a copyright application to Copyright office in India which is a Government Office
           responsible for registration of Copyrights. Startupwala makes it easy for anyone to make copyright
            application. For more details, please fill the above details and Get Started Now.
          </p></h6>
          </ion-item>
          </ion-card>
  
          <ion-card>
          <ion-item>
            <h6 (click)="toggleGroup3(i)" [ngClass]="{active: isGroupShown3(i)}" style="color: black;font-size: 13px;">
              4. Who can apply for Copyright Registration?
             <ion-icon class="left" [name]="isGroupShown3(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
             style="color: gray;font-size: 15px;">
            </ion-icon>
            <p *ngIf="isGroupShown3(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
            margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
            The creators of original content who want to protect their work from copycats must apply for 
            Copyright. Authors, Designers, Artists, Writers, Choreographers, Poets, Musicians or any Company 
            which employs these creators to get original content created can apply Copyright in its own name.
            </p></h6>
            </ion-item>
            </ion-card>
           
            <ion-card>
            <ion-item>
              <h6 (click)="toggleGroup4(i)" [ngClass]="{active: isGroupShown4(i)}" style="color: black;font-size: 13px;">
                5. Who is a Copyright Consultant?
               <ion-icon class="left" [name]="isGroupShown4(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
               style="color: gray;font-size: 15px;">
              </ion-icon>
              <p *ngIf="isGroupShown4(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
              margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
              Copyright consultant is a lawyer or attorney specialized in Copyright laws, who can simplify 
              the documentation and help you to file a proper copyright application.
              </p></h6>
              </ion-item>
              </ion-card>
              
              <ion-card>
              <ion-item>
                <h6 (click)="toggleGroup5(i)" [ngClass]="{active: isGroupShown5(i)}" style="color: black;font-size: 13px;">
                6. What is the cost for Copyright Registration in India?
               <ion-icon class="left" [name]="isGroupShown5(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
                 style="color: gray;font-size: 15px;">
                </ion-icon>
                <p *ngIf="isGroupShown5(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
                margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
                The copyright fees depend upon the type of work to be copyrighted, as the Govt. charges change
                 according to type of work. For more details, please fill the above details and Get Started 
                 Now.
                </p></h6>
                </ion-item>
                </ion-card>
                
                <ion-card>
                <ion-item>
                  <h6 (click)="toggleGroup6(i)" [ngClass]="{active: isGroupShown6(i)}" style="color: black;font-size: 13px;">
                    7. How the Online Copyright Process works?
                   <ion-icon class="left" [name]="isGroupShown6(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
                   style="color: gray;font-size: 15px;">
                  </ion-icon>
                  <p *ngIf="isGroupShown6(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
                  margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
                  Once the Copyright Application is filed, you will get a copyright diary number, which is legal
                   proof of your application. Copyright office will keep the application open for 30 days for
                    objection. If no objection is received from any party, it typically takes 8 to 12 months for 
                    Copyright Certificate to be issued.
                  </p></h6>
                  </ion-item>
                  </ion-card>
  
                
               <ion-card>
                <ion-item>
                <h6 (click)="toggleGroup7(i)" [ngClass]="{active: isGroupShown7(i)}" style="color: black;font-size: 13px;">
                  8. When can I use (C) symbol?
                 <ion-icon class="left" [name]="isGroupShown7(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
                style="color: gray;font-size: 15px;">
                </ion-icon>
              <p *ngIf="isGroupShown7(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
               margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
                  You can use (C) mark as soon as content is created, however it is safe to use once the 
                  Copyright application is filed and you receive acknowledgement receipt.  
                  </p></h6>
                  </ion-item>
                  </ion-card>
                
              
              <ion-card>
              <ion-item>
              <h6 (click)="toggleGroup8(i)" [ngClass]="{active: isGroupShown8(i)}" style="color: black;font-size: 13px;">
                9. Is it difficult to Copyright?
               <ion-icon class="left" [name]="isGroupShown8(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
              style="color: gray;font-size: 15px;">
              </ion-icon>
              <p *ngIf="isGroupShown8(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
              margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
             Startupwala's online copyright application process is very simple and economical. Our Clients
              regularly tell us that they thought copyright registration would have been very complex and
               costly affair but after experiencing Startupwala's service they felt that they should have
                done this much before. See what our clients want to say about us. TESTIMONIALS
              </p></h6>
              </ion-item>
              </ion-card>
  
              <ion-card>
                <ion-item>
                <h6 (click)="toggleGroup9(i)" [ngClass]="{active: isGroupShown9(i)}" style="color: black;font-size: 13px;">
                  10. Do i have to renew my copyright?
                 <ion-icon class="left" [name]="isGroupShown9(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
                style="color: gray;font-size: 15px;">
                </ion-icon>
                <p *ngIf="isGroupShown9(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
                margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
                Copyright is permanent in nature and will exist for life time of the creator plus 60 years 
                after death of creator. The validity of copyright registration will lifelong and after 60
                 years after death of creator it will be open to general public to imitate or reproduce the
                  content freely.
                </p></h6>
                </ion-item>
                </ion-card>
  
                <ion-card>
                  <ion-item>
                  <h6 (click)="toggleGroup10(i)" [ngClass]="{active: isGroupShown10(i)}" style="color: black;font-size: 13px;">
                    11. Can I sell my Copyright?
                   <ion-icon class="left" [name]="isGroupShown10(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
                  style="color: gray;font-size: 15px;">
                  </ion-icon>
                  <p *ngIf="isGroupShown10(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
                  margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
                  Yes, As we know that copyright is an intellectual property of the owner, as other property
                   can be sold for a price, the same way a copyright can be sold for a price.
                  </p></h6>
                  </ion-item>
                  </ion-card>
                  <br>
                  <br>
  
          </ion-list>
          </div>

</ion-content>



