<ion-content>
  <ion-list lines="none">
    <ion-item>Private Limited</ion-item>
    </ion-list>

  <ion-list lines="none">
    <ion-item text-center>
    

      Limited Liability Partnership</ion-item>
  </ion-list>
  
  <ion-list lines="none">
    <ion-item>Partnership</ion-item>
  </ion-list>

  <ion-list lines="none">
    <ion-item>Proprietorship</ion-item>
  </ion-list>

  
  <ion-list lines="none">
    <ion-item>One Person Company	</ion-item>
  </ion-list>

  
  <ion-list lines="none">
    <ion-item>PF Registration</ion-item>
  </ion-list>

  
  <ion-list lines="none">
    <ion-item>Shops & Establishment</ion-item>
  </ion-list>

  
  <ion-list lines="none">
    <ion-item>Professional Tax</ion-item>
  </ion-list>

  
  <ion-list lines="none">
    <ion-item>Startup Registration</ion-item>
  </ion-list>
   
  <ion-list lines="none">
    <ion-item>Startup India Registration</ion-item>
  </ion-list>

  </ion-content>
