<ion-header>
  <ion-toolbar style="--background:#753a88!important;--border-color:white;--border-width:1px;">
     
      <ion-icon slot="start" name="chevron-back-outline" 
      style="color: white;font-size: 20px;padding-left: 5px;" routerLink="/business"></ion-icon>
      
      <h5 style="text-align: center;color: white;font-size: 15px;font-weight: bold;">
        Public Limited Company</h5>
      <ion-buttons slot="end">
        <ion-button style="background-color: #32CD32	;text-transform: inherit;color:white" 
        routerLink="/getquote">
          Get Quote</ion-button>
      </ion-buttons>
     </ion-toolbar>
   </ion-header>

<ion-content>

<ion-toolbar>

  <ion-segment scrollable
  value="all"

  mode="Android"
  [(ngModel)]="segmentModel" 
  (ionChange)="segmentChanged($event)">

  <ion-segment-button class="overview" value="Overview" scrollX="true" (click)="ScrollToPoint(-300, -120)">
    <ion-label style="color: white;font-weight: 600;">Overview</ion-label>
  </ion-segment-button>

  <ion-segment-button class="Benifits" value="Benifits" scrollX="true">
    <ion-label style="font-weight: bold; color: white;">Benifits </ion-label>
  </ion-segment-button>

  <ion-segment-button class="Pre-requisites" value="Pre-requisites" scrollX="true">
    <ion-label style="font-weight: bold; color: white;">Pre-requisites </ion-label>
  </ion-segment-button>

  <ion-segment-button class="Deliverables" value="Deliverables" scrollX="true">
    <ion-label style="font-weight: bold; color: white;">Deliverables</ion-label>
  </ion-segment-button>

  <ion-segment-button class="Faqs" value="FAQs" scrollX="true">
    <ion-label style="font-weight: bold; color: white;">FAQs</ion-label>
  </ion-segment-button>

  </ion-segment>

</ion-toolbar>

<ion-content [fullscreen]="true" class="ion-padding">

<div *ngIf="segmentModel === 'Overview'">
  <h3 style="text-align: center;font-weight: bold;">Register Pvt.Ltd.!</h3>
  <h4 style="text-align: center;font-weight: bold;">in 15 days </h4>
  <h4 style="text-align: center;font-weight: bold;">at ₹ 6,999*</h4>
  <br>

  <p style="text-align: center;">Any time. Any where. At Single click</p><br>

  <ion-grid>
    <ion-row>
    <ion-col size="4">
      <ion-chip style="height: 60px;width: 90px;--background: white;">
        <ion-avatar style="width: 100px;height: 60px;">
          <img src="https://www.startupwala.com/images/pan-tan-registration.svg">
        </ion-avatar>
        <ion-label>+</ion-label>
      </ion-chip>
    </ion-col>
  
    <ion-col size="4">
      <ion-chip style="height: 60px;width: 100px;--background: white;">
        <ion-avatar style="width: 100px;height: 60px;">
          <img src="https://www.startupwala.com/images/mobile_nav_10.png">
        </ion-avatar>
        <ion-label>OR</ion-label>
      </ion-chip>
    </ion-col>
  
    <ion-col size="3">
      <ion-chip style="height: 60px;width: 100px;--background: white;">
        <ion-avatar style="width: 60px;height: 30px;">
        <img src="https://www.startupwala.com/images/GST-Registration.svg" 
        style="max-width: 79%;">
        </ion-avatar>
        </ion-chip>
    </ion-col>
    </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
      <ion-col size="3">
        <div>
        <p style="font-size: 10px;margin-left: 19px;margin-bottom: 0em;">PAN + TAN</p>
        <p style="font-size: 10px;margin-top: 0em;margin-left: 17px;">Registration</p>
        </div>
        </ion-col>
       <ion-col size="5">
            <p style="font-size: 10px;margin-bottom: 0em;padding-left: 35px;">Domain Name + 1 yr hosting + 10 emails</p>
            <p style="font-size: 10px;margin-top: 0em;"></p>
          </ion-col>
        <ion-col size="4">
          <p style="font-size: 10px;margin-left: 21px;margin-bottom: 0em;">Online Accounting</p>
          <p style="font-size: 10px;margin-top: 0em;margin-left: 35px;">Software</p>
        </ion-col>
        </ion-row>
        </ion-grid>

    </div>

  <!--Special Recharge-->

  <div *ngIf="segmentModel === 'Benifits'">

    <ion-card style="margin-bottom: 25px;">    
          <ion-row (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" 
          style="width: 234px;height: 70px;">
          <ion-col size="3" style="margin-bottom: 10px;">
          <img src="https://www.startupwala.com/images/limited-liability-protection-to-directors-personal-assets.svg" 
          style="height:50px;width:60px;margin-bottom: 0em;text-align: left;">
          </ion-col>
          <ion-col>
          <div>
          <p>Limited Liability Protection to Directors</p>
          </div>
          </ion-col>
        <ion-icon class="left" class="left" [name]="isGroupShown(i) ? 'chevron-up-outline' : 'chevron-down-outline'" 
        style="margin-top: 25px;color: gray;text-align: end;" >
        </ion-icon>
      </ion-row>
      <ion-card-content *ngIf="isGroupShown(i)" style="font-size: 12px;margin-left: 10px;margin-right: 5px;
      margin-bottom: 10px;text-align: justify;color: black;">                  
        Many times startups need to borrow money and take things on credit. In case of normal Partnerships,
        Partners personal savings and property would be at risk incase business is not able to repay its loans.
         In a private limited company, only investment in business is lost, personal assets of the directors are
          safe.             
    </ion-card-content>
  </ion-card>
  
       
    <ion-card style="margin-bottom: 25px;">    
      <ion-row (click)="toggleGroup1(i)" [ngClass]="{active: isGroupShown1(i)}"
      style="width: 234px;height: 70px;">
      <ion-col size="3" style="margin-bottom: 10px;">
      
      <img src="https://www.startupwala.com/images/better-image-and-credibility-in-market.svg" 
      style="height:50px;width:60px;margin-bottom: 0em;text-align: left;">
      
      </ion-col>
      <ion-col>
      <div>
      <p>Better image and credibility in Market</p>
      </div>
      </ion-col>
    <ion-icon class="left" class="left" [name]="isGroupShown1(i) ? 'chevron-up-outline' : 'chevron-down-outline'" 
    style="margin-top: 25px;color: gray;text-align: end;">
    </ion-icon>
  </ion-row>
  <ion-card-content *ngIf="isGroupShown1(i)" style="font-size: 12px;margin-left: 10px;margin-right: 5px;
  margin-bottom: 10px;text-align: justify;color: black;">                  
    Private limited company is popular and well known business structure. Corporate Customers, 
    Vendors and Govt. Agencies prefer to deal with Private Limited Company instead of proprietorship or 
    normal partnerships.           
</ion-card-content>
</ion-card>


<ion-card style="margin-bottom: 25px;">    
<ion-row (click)="toggleGroup2(i)" [ngClass]="{active: isGroupShown2(i)}"
style="width: 234px;height: 70px;">
<ion-col size="3" style="margin-bottom: 10px;">

<img src="https://www.startupwala.com/images/easy-to-raise-funds-and-loans.svg" 
style="height:50px;width:60px;margin-bottom: 0em;text-align: left;">

</ion-col>
<ion-col>
<div>
  <p>Easy to raise funds and loans</p>
</div>
</ion-col>
<ion-icon class="left" class="left" [name]="isGroupShown2(i) ? 'chevron-up-outline' : 'chevron-down-outline'" 
style="margin-top: 25px;color: gray;text-align: end;">
</ion-icon>
</ion-row>
<ion-card-content *ngIf="isGroupShown2(i)" style="font-size: 12px;margin-left: 10px;margin-right: 5px;
margin-bottom: 10px;text-align: justify;color: black;">                  
Pvt. Ltd. company enjoys wide options to raise funds through bank loans, Angel Investors, 
Venture Capitalists, in comparison to LLPs and OPCs.             
</ion-card-content>
</ion-card>

<ion-card style="margin-bottom: 25px;">    
<ion-row (click)="toggleGroup3(i)" [ngClass]="{active: isGroupShown3(i)}"
style="width: 234px;height: 70px;">
<ion-col size="3" style="margin-bottom: 10px;">
<img src="https://www.startupwala.com/images/favorite-business-structure-for-investors.svg" 
style="height:50px;width:60px;margin-bottom: 0em;text-align: left;">
</ion-col>
<ion-col>
<div>
  <p>Favorite Business structure for Investors</p>
</div>
</ion-col>
<ion-icon class="left" class="left"class="left" [name]="isGroupShown3(i) ? 'chevron-up-outline' : 'chevron-down-outline'" 
style="margin-top: 25px;color: gray;text-align: end;">
</ion-icon>
</ion-row>
<ion-card-content *ngIf="isGroupShown3(i)" style="font-size: 12px;margin-left: 10px;margin-right: 5px;
margin-bottom: 10px;text-align: justify;color: black;">                  
Investors love to invest in Private Limited companies as it is well structured and less strings attached.
Most important it is very easy to exit from a private limited company.     
</ion-card-content>
</ion-card>


<ion-card style="margin-bottom: 25px;">    
<ion-row (click)="toggleGroup4(i)" [ngClass]="{active: isGroupShown4(i)}"
style="width: 234px;height: 70px;">
<ion-col size="3" style="margin-bottom: 10px;">
<img src="https://www.startupwala.com/images/easy-to-attract-employees.svg" 
style="height:50px;width:60px;margin-bottom: 0em;text-align: left;">
</ion-col>
<ion-col>
<div>
  <p>Easy to attract Employees</p>
</div>
</ion-col>
<ion-icon class="left" class="left"class="left" [name]="isGroupShown4(i) ? 'chevron-up-outline' : 'chevron-down-outline'" 
style="margin-top: 25px;color: gray;text-align: end;">
</ion-icon>
</ion-row>
<ion-card-content *ngIf="isGroupShown4(i)" style="font-size: 12px;margin-left: 10px;margin-right: 5px;
margin-bottom: 10px;text-align: justify;color: black;">                  
For startups putting together a team and keeping them for long time is a challenge, due to 
confidence attached to private limited structure, it is easy to hire people as well as motivate them 
with corporate designations and stock options.     
</ion-card-content>
</ion-card>


<ion-card style="margin-bottom: 25px;">    
<ion-row (click)="toggleGroup5(i)" [ngClass]="{active: isGroupShown5(i)}"
style="width: 234px;height: 70px;">
<ion-col size="3" style="margin-bottom: 10px;">
<img src="https://www.startupwala.com/images/easy-to-sell.svg" 
style="height:50px;width:60px;margin-bottom: 0em;text-align: left;">
</ion-col>
<ion-col>
<div>
  <p>Easy to Sell</p>
</div>
</ion-col>
<ion-icon class="left" class="left"class="left" [name]="isGroupShown5(i) ? 'chevron-up-outline' : 'chevron-down-outline'" 
style="margin-top: 25px;color: gray;text-align: end;">
</ion-icon>
</ion-row>
<ion-card-content *ngIf="isGroupShown5(i)" style="font-size: 12px;margin-left: 10px;margin-right: 5px;
margin-bottom: 10px;text-align: justify;color: black;">                  
Private Ltd. is easy to sell, very less documentation and cost is involved in selling 
a Pvt. Ltd. company.   
</ion-card-content>
</ion-card>
        
</div>

<!-- -------pre-req---- -->
<div *ngIf="segmentModel === 'Pre-requisites'">
  
  <div class="container" style="text-align: start;">
  <ion-icon name="checkmark-circle-outline"
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
  <ion-label>Minimum 2 shareholders</ion-label></div>

<br>
<div class="container" style="text-align: start;">
  <ion-icon name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>Minimum 2 directors</ion-label></div>
<br>
<div class="container" style="text-align: start;">
  <ion-icon name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>The directors and shareholders can be
same person</ion-label></div>
<br>
<div class="container" style="text-align: start;">
  <ion-icon name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>One of the Directors must be Indian 
  Resident</ion-label></div>
<br>
<div class="container" style="text-align: start;">
  <ion-icon name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>DIN (Director Identification Number) 
   for all Directors</ion-label></div>
<br>
<div class="container" style="text-align: start;">
  <ion-icon name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>DSC (Digital Signature Certificate) for 
 all Promoters</ion-label></div>
<br>
</div>
<!--delvrbles-->

<div *ngIf="segmentModel === 'Deliverables'">

  <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
  <ion-label>DIN for 2 Directors</ion-label></div>
  <br>
 
  <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
  <ion-label>Digital Signature Token for all Promoters
  </ion-label></div>
<br>

<div class="container" style="text-align: start;">
  <ion-icon class="left"name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>Company name approval</ion-label></div>
<br>

<div class="container" style="text-align: start;">
  <ion-icon class="left"name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
  <ion-label>MOA + AOA</ion-label></div>  
<br>

<div class="container" style="text-align: start;">
  <ion-icon class="left"name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>Incorporation Certificate</ion-label></div>
  <br>

  <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
  <ion-label>New Incorporation Kit</ion-label></div>
<br>

  <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
  <ion-label>Customized Incorporation Master File</ion-label></div>
   <br>
   <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
    <ion-label>Company PAN Card</ion-label></div>
      <br>

      <div class="container" style="text-align: start;">
        <ion-icon class="left"name="checkmark-circle-outline" 
        style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
      <ion-label>Company TAN/TDS Number</ion-label></div>
    <br>

    <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
    <ion-label>Bank Account Opening Document 
    Support</ion-label></div>
    <br>
    <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
    <ion-label>Domain Name for 1 year + Web
      Hosting + 0 Email Ids <ion-text style="margin-left: 30px;">for 1 year OR</ion-text></ion-label></div>
      <br>
    
    <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
    <ion-label>Online Accounting Software for 1 year</ion-label></div>
     <br>
     <br>
</div>



<div *ngIf="segmentModel === 'FAQs'" >

  <ion-list>
    <ion-card>
    <ion-item >
    <h6 (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" style="color: black;font-size: 13px;">
    1. What documents required to set up Public Limited Company in India?
    <ion-icon class="left" [name]="isGroupShown(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
     style="color: gray;;font-size: 15px;">
    </ion-icon>
    <p *ngIf="isGroupShown(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
    margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
    Pan card and one address proof. For more details, please fill the above details
    </p></h6>
    </ion-item>
    </ion-card>

      <ion-card>
      <ion-item>
      <h6 (click)="toggleGroup1(i)" [ngClass]="{active: isGroupShown1(i)}" style="color: black;font-size: 13px;">
        2. Do I have to have office (commercial) space to start a Company?
      <ion-icon class="left" [name]="isGroupShown1(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
       style="color: gray;font-size: 15px;">
      </ion-icon>
      <p *ngIf="isGroupShown1(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
      margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
      No, commercial office space is not required. You can show your own residential
      or rented home address as the registered office address of the Company. 
      This office address can be changed at any time after incorporation of the company. 
      Once your startup is set up, stable and ready to move on to a nice corporate space you can change the
      registered office address by informing to the ROC office.
      </p></h6>
      </ion-item>
      </ion-card>

      <ion-card>
      <ion-item>
        <h6 (click)="toggleGroup2(i)" [ngClass]="{active: isGroupShown2(i)}" style="color: black;font-size: 13px;">
          3. Who is Registrar of Companies (ROC)?
        <ion-icon class="left" [name]="isGroupShown2(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
         style="color: gray;font-size: 15px;">
        </ion-icon>
        <p *ngIf="isGroupShown2(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
        margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
      ROC is a Government office with whom companies get registered. Every State has one ROC office 
      except Maharashtra and Tamilnadu where there are two ROC offices. In Maharashtra companies are registered
       with Mumbai & Pune ROC. In Tamilnadu companies are incorporated at Chennai and Coimbatore ROCs. In all 
       other States like Delhi there is only one ROC office, like at Bangalore, Hyderabad and so on.
        </p></h6>
        </ion-item>
        </ion-card>

        <ion-card>
        <ion-item>
          <h6 (click)="toggleGroup3(i)" [ngClass]="{active: isGroupShown3(i)}" style="color: black;font-size: 13px;">
            4. Do I have to physically visit ROC Office while Setting up company?
          <ion-icon class="left" [name]="isGroupShown3(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
           style="color: gray;font-size: 15px;">
          </ion-icon>
          <p *ngIf="isGroupShown3(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
          margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
          No. Startupwala provides complete online Company Incorporation process. 
          All legal documentation with ROC and visits are done by Startupwala.
          </p></h6>
          </ion-item>
          </ion-card>
         
          <ion-card>
          <ion-item>
            <h6 (click)="toggleGroup4(i)" [ngClass]="{active: isGroupShown4(i)}" style="color: black;font-size: 13px;">
              5. Is Private Limited Incorporation to be renewed every year?
            <ion-icon class="left" [name]="isGroupShown4(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
             style="color: gray;font-size: 15px;">
            </ion-icon>
            <p *ngIf="isGroupShown4(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
            margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
          No. Once the company is formed, it will be valid till it is officially closed down by th
           No renewal or fees is required. However, every year companies have to file very basic returns with ROC 
           office.
            </p></h6>
            </ion-item>
            </ion-card>
            
            <ion-card>
            <ion-item>
              <h6 (click)="toggleGroup5(i)" [ngClass]="{active: isGroupShown5(i)}" style="color: black;font-size: 13px;">
                6. What is a DIN?
              <ion-icon class="left" [name]="isGroupShown5(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
               style="color: gray;font-size: 15px;">
              </ion-icon>
              <p *ngIf="isGroupShown5(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
              margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
            Director Identification Number (DIN) is a unique identification number required for a person 
            to become a director of a company. DIN is issued by ROC office (Ministry of Corporate Affairs)
            It is similar to a PAN Card number.DIN is to be mentioned in documents while appointing a person
             as a director of a company.
              </p></h6>
              </ion-item>
              </ion-card>
              
              <ion-card>
              <ion-item>
                <h6 (click)="toggleGroup6(i)" [ngClass]="{active: isGroupShown6(i)}" style="color: black;font-size: 13px;">
                  7.What is a DSC?
                <ion-icon class="left" [name]="isGroupShown6(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
                 style="color: gray;font-size: 15px;">
                </ion-icon>
                <p *ngIf="isGroupShown6(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
                margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
                A digital signature is electronic signature, which is in the form of codes. It is used for signing the electronic forms, 
                filed with ROC for incorporation of Company. Digital Signature cannot be used in physical documents.
                </p></h6>
                </ion-item>
                </ion-card>

              
             <ion-card>
              <ion-item>
              <h6 (click)="toggleGroup7(i)" [ngClass]="{active: isGroupShown7(i)}" style="color: black;font-size: 13px;">
              8. What is Company name search?Why it is important for new company 
                registration?
              <ion-icon class="left" [name]="isGroupShown7(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
              style="color: gray;font-size: 15px;">
              </ion-icon>
            <p *ngIf="isGroupShown7(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
             margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
            Company name is very important part in registration of company.The company name is divided into 3 Parts:
            1) Keyword (brand name like TATA or Flipkart)
            2) Activity word(i.e showing nature of business like Software)
            3) Business Type word (i.e Pvt.Ltd.or LLP).For Incorporation of company,the suggested name should not match with
            existing companies or trademark.
                </p></h6>
                </ion-item>
                </ion-card>
              
            
            <ion-card>
            <ion-item>
            <h6 (click)="toggleGroup8(i)" [ngClass]="{active: isGroupShown8(i)}" style="color: black;font-size: 13px;">
            9.What is MOA & AOA of company?
            <ion-icon class="left" [name]="isGroupShown8(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
            style="color: gray;font-size: 15px;">
            </ion-icon>
            <p *ngIf="isGroupShown8(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
            margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
            MOA means Memorandum of Association and AOA means Articles of Association.These are the byelaws or rules
            based on which important matters like main business of  the company or meetings are decided. These are
            standard legal documents prepared by Company Secretaries during registration of the Company.
            </p></h6>
            </ion-item>
            </ion-card>

            <ion-card>
              <ion-item>
              <h6 (click)="toggleGroup9(i)" [ngClass]="{active: isGroupShown9(i)}" style="color: black;font-size: 13px;">
              10.Can we change office address of the company after Incorporation?
              <ion-icon class="left" [name]="isGroupShown9(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
              style="color: gray;font-size: 15px;">
              </ion-icon>
              <p *ngIf="isGroupShown9(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
              margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
              Yes,company office address can be changed anytime after incorporation.
              </p></h6>
              </ion-item>
              </ion-card>

              <ion-card>
                <ion-item>
                <h6 (click)="toggleGroup10(i)" [ngClass]="{active: isGroupShown10(i)}" style="color: black;font-size: 13px;">
                11.What is capital of the Company?
                <ion-icon class="left" [name]="isGroupShown10(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
                style="color: gray;font-size: 15px;">
                </ion-icon>
                <p *ngIf="isGroupShown10(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
                margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
                Capital means investment made by share-holders into the company. Authorised capital is an amount up to
                which company can issue shares.This capital is mentioned during incorporation of the company based on which 
                ROC registration fees and stamp duty is paid.Paid up capital is an actual investment which goes form shareholders
                into company bank account,against which share certificate is issued by the company.
                </p></h6>
                </ion-item>
                </ion-card>

                <ion-card>
                  <ion-item>
                  <h6 (click)="toggleGroup11(i)" [ngClass]="{active: isGroupShown11(i)}" style="color: black;font-size: 13px;">
                  12.Do we have to deposit Share Capital in a 
                  Bank at the time of Incorporation?
                  <ion-icon class="left" [name]="isGroupShown11(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
                  style="color: gray;font-size: 15px;">
                  </ion-icon>
                  <p *ngIf="isGroupShown11(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
                  margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
                  No,After company is registered, it needs to open a company bank account and then anytime within two months 
                  of incorporation, capital can be deposited into Company bank account.
                  </p></h6>
                  </ion-item>
                  </ion-card>

                  <ion-card>
                    <ion-item>
                    <h6 (click)="toggleGroup12(i)" [ngClass]="{active: isGroupShown12(i)}" style="color: black;font-size: 13px;">
                    13.Does my business have to have some level 
                     of turnover to start Private 
                    Limited?
                    <ion-icon class="left" [name]="isGroupShown12(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
                    style="color: gray;font-size: 15px;">
                    </ion-icon>
                    <p *ngIf="isGroupShown12(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
                    margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
                    This is not true, a Private Limited company is one of the mode of doing business,which means it can be
                    started from scratch.For that matter even after incorporating a private limited there is no obligation 
                    that the company must have sales or turnover. 
                    </p></h6>
                    </ion-item>
                    </ion-card>

                    <ion-card>
                      <ion-item>
                      <h6 (click)="toggleGroup13(i)" [ngClass]="{active: isGroupShown13(i)}" style="color: black;font-size: 13px;">
                      14.Does PF,Service Tax or VAT is automatically 
                      applicable to Private 
                      Limited?
                      <ion-icon class="left" [name]="isGroupShown13(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
                      style="color: gray;font-size: 15px;">
                      </ion-icon>
                      <p *ngIf="isGroupShown13(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
                      margin-bottom: 10px;text-align: left;margin-left:10px;color: black;"> 
                      There is no automatic applicability.Provident Fund (PF),Service Tax or VAT law applicability is same for all
                      types of business like sole proprietorship,partnership firms and companies. These laws are
                      applicable only after crossing certain threshold limits.
                      </p></h6>
                      </ion-item>
                      </ion-card>
                      <br>
                      <br>
                      <br>
                      <br>

          </ion-list>
          </div>

</ion-content>



