<ion-header>
  <ion-toolbar style="--background:#753a88!important;--border-color:white;--border-width:1px;">
     
     <ion-icon slot="start" name="chevron-back-outline" 
      style="color: white;font-size: 20px;padding-left: 5px;" routerLink="/manage-business"></ion-icon>
      
      <h5 style="text-align: center;color: white;font-size: 15px;font-weight: bold;">
        ROC Return Filing for LLP</h5>
        <ion-buttons slot="end">
          <ion-button style="background-color: #32CD32	;text-transform: inherit;color:white" 
          routerLink="/getquote">
            Get Quote</ion-button>
        </ion-buttons>
     </ion-toolbar>
   </ion-header>


<ion-content>

<ion-toolbar>

  <ion-segment scrollable
  value="all"

  mode="Android"
  [(ngModel)]="segmentModel" 
  (ionChange)="segmentChanged($event)">

  <ion-segment-button class="overview" value="Overview" scrollX="true" (click)="ScrollToPoint(-300, -120)">
    <ion-label style="color: white;font-weight: 600;">Overview</ion-label>
  </ion-segment-button>

  <ion-segment-button class="Benifits" value="Benifits" scrollX="true">
    <ion-label style="font-weight: bold; color: white;">Benifits </ion-label>
  </ion-segment-button>

  <ion-segment-button class="Pre-requisites" value="Pre-requisites" scrollX="true">
    <ion-label style="font-weight: bold; color: white;">Pre-requisites </ion-label>
  </ion-segment-button>

  <ion-segment-button class="Deliverables" value="Deliverables" scrollX="true">
    <ion-label style="font-weight: bold; color: white;">Deliverables</ion-label>
  </ion-segment-button>

  <ion-segment-button class="Faqs" value="FAQs" scrollX="true">
    <ion-label style="font-weight: bold; color: white;">FAQs</ion-label>
  </ion-segment-button>

  </ion-segment>

</ion-toolbar>

<ion-content [fullscreen]="true" class="ion-padding">

<div *ngIf="segmentModel === 'Overview'">
  <h3 style="text-align: center;font-weight: bold;">ROC Filing for</h3>
  <h4 style="text-align: center;font-weight: bold;">LLP in 2 days</h4>
  <h4 style="text-align: center;font-weight: bold;">at ₹ 3,999*</h4>
  <br>

  <p style="text-align: center;">Any time. Any where. At Single click</p><br>

  <ion-grid>
  <ion-row>
  <ion-col size="4">
    <ion-chip style="height: 60px;width: 100px;--background: white;">
      <ion-avatar style="width: 100px;height: 60px;">
        <img src="https://www.startupwala.com/images/pan-tan-registration.svg">
      </ion-avatar>
      <ion-label>+</ion-label>
    </ion-chip>
  </ion-col>

  <ion-col size="4">
    <ion-chip style="height: 60px;width: 100px;--background: white;">
      <ion-avatar style="width: 100px;height: 60px;">
        <img src="https://www.startupwala.com/images/mobile_nav_10.png">
      </ion-avatar>
      <ion-label>OR</ion-label>
    </ion-chip>
  </ion-col>

  <ion-col size="3">
    <ion-chip style="height: 60px;width: 100px;--background: white;">
      <ion-avatar style="width: 60px;height: 30px;">
      <img src="https://www.startupwala.com/images/GST-Registration.svg">
      </ion-avatar>
      </ion-chip>
  </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid>
  <ion-row>
  <ion-col size="4">
    <div>
    <p style="font-size: 12px;margin-left: 10px;">Quickbooks
    Online Accounting
    Software</p>

    </div>
    </ion-col>
    <ion-col size="4">
      <p style="font-size: 12px;">Worth Rs.6000
      Absolutely Free</p>
    </ion-col>
    <ion-col size="4">
      <p style="font-size: 12px;margin-left: 30px;">On our LLP AMC
      Services</p>
    </ion-col>
    </ion-row>
    </ion-grid>

    </div>

  <!--Special Recharge-->

  <div *ngIf="segmentModel === 'Benifits'">

    <ion-card style="margin-bottom: 25px;">    
          <ion-row (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" 
          style="width: 234px;height: 70px;">
          <ion-col size="3" style="margin-bottom: 10px;">
          <img src="https://www.startupwala.com/images/limited-liability-protection-to-directors-personal-assets.svg" 
          style="height:50px;width:60px;margin-bottom: 0em;text-align: left;">
          </ion-col>
          <ion-col>
          <div>
          <p>Limited Liability Protection to Directors</p>
          </div>
          </ion-col>
        <ion-icon class="left" [name]="isGroupShown(i) ? 'chevron-up-outline' : 'chevron-down-outline'" 
        style="margin-top: 25px;color: gray;text-align: end;" >
        </ion-icon>
      </ion-row>
      <ion-card-content *ngIf="isGroupShown(i)" style="font-size: 12px;margin-left: 10px;margin-right: 5px;
      margin-bottom: 10px;text-align: justify;color: black;">                  
        Many times startups need to borrow money and take things on credit. In case of normal Partnerships,
        Partners personal savings and property would be at risk incase business is not able to repay its loans.
         In a private limited company, only investment in business is lost, personal assets of the directors are
          safe.             
    </ion-card-content>
  </ion-card>
  
       
    <ion-card style="margin-bottom: 25px;">    
      <ion-row (click)="toggleGroup1(i)" [ngClass]="{active: isGroupShown1(i)}"
      style="width: 234px;height: 70px;">
      <ion-col size="3" style="margin-bottom: 10px;">
      
      <img src="https://www.startupwala.com/images/better-image-and-credibility-in-market.svg" 
      style="height:50px;width:60px;margin-bottom: 0em;text-align: left;">
      
      </ion-col>
      <ion-col>
      <div>
      <p>Better image and credibility in Market</p>
      </div>
      </ion-col>
    <ion-icon class="left" [name]="isGroupShown1(i) ? 'chevron-up-outline' : 'chevron-down-outline'" 
    style="margin-top: 25px;color: gray;text-align: end;">
    </ion-icon>
  </ion-row>
  <ion-card-content *ngIf="isGroupShown1(i)" style="font-size: 12px;margin-left: 10px;margin-right: 5px;
  margin-bottom: 10px;text-align: justify;color: black;">                  
    Private limited company is popular and well known business structure. Corporate Customers, 
    Vendors and Govt. Agencies prefer to deal with Private Limited Company instead of proprietorship or 
    normal partnerships.           
</ion-card-content>
</ion-card>


<ion-card style="margin-bottom: 25px;">    
<ion-row (click)="toggleGroup2(i)" [ngClass]="{active: isGroupShown2(i)}"
style="width: 234px;height: 70px;">
<ion-col size="3" style="margin-bottom: 10px;">

<img src="https://www.startupwala.com/images/easy-to-raise-funds-and-loans.svg" 
style="height:50px;width:60px;margin-bottom: 0em;text-align: left;">

</ion-col>
<ion-col>
<div>
  <p>Easy to raise funds and loans</p>
</div>
</ion-col>
<ion-icon class="left" [name]="isGroupShown2(i) ? 'chevron-up-outline' : 'chevron-down-outline'" 
style="margin-top: 25px;color: gray;text-align: end;">
</ion-icon>
</ion-row>
<ion-card-content *ngIf="isGroupShown2(i)" style="font-size: 12px;margin-left: 10px;margin-right: 5px;
margin-bottom: 10px;text-align: justify;color: black;">                  
Pvt. Ltd. company enjoys wide options to raise funds through bank loans, Angel Investors, 
Venture Capitalists, in comparison to LLPs and OPCs.             
</ion-card-content>
</ion-card>

<ion-card style="margin-bottom: 25px;">    
<ion-row (click)="toggleGroup3(i)" [ngClass]="{active: isGroupShown3(i)}"
style="width: 234px;height: 70px;">
<ion-col size="3" style="margin-bottom: 10px;">
<img src="https://www.startupwala.com/images/favorite-business-structure-for-investors.svg" 
style="height:50px;width:60px;margin-bottom: 0em;text-align: left;">
</ion-col>
<ion-col>
<div>
  <p>Favorite Business structure for Investors</p>
</div>
</ion-col>
<ion-icon class="left"class="left" [name]="isGroupShown3(i) ? 'chevron-up-outline' : 'chevron-down-outline'" 
style="margin-top: 25px;color: gray;text-align: end;">
</ion-icon>
</ion-row>
<ion-card-content *ngIf="isGroupShown3(i)" style="font-size: 12px;margin-left: 10px;margin-right: 5px;
margin-bottom: 10px;text-align: justify;color: black;">                  
Investors love to invest in Private Limited companies as it is well structured and less strings attached.
Most important it is very easy to exit from a private limited company.     
</ion-card-content>
</ion-card>


<ion-card style="margin-bottom: 25px;">    
<ion-row (click)="toggleGroup4(i)" [ngClass]="{active: isGroupShown4(i)}"
style="width: 234px;height: 70px;">
<ion-col size="3" style="margin-bottom: 10px;">
<img src="https://www.startupwala.com/images/easy-to-attract-employees.svg" 
style="height:50px;width:60px;margin-bottom: 0em;text-align: left;">
</ion-col>
<ion-col>
<div>
  <p>Easy to attract Employees</p>
</div>
</ion-col>
<ion-icon class="left"class="left" [name]="isGroupShown4(i) ? 'chevron-up-outline' : 'chevron-down-outline'" 
style="margin-top: 25px;color: gray;text-align: end;">
</ion-icon>
</ion-row>
<ion-card-content *ngIf="isGroupShown4(i)" style="font-size: 12px;margin-left: 10px;margin-right: 5px;
margin-bottom: 10px;text-align: justify;color: black;">                  
For startups putting together a team and keeping them for long time is a challenge, due to 
confidence attached to private limited structure, it is easy to hire people as well as motivate them 
with corporate designations and stock options.     
</ion-card-content>
</ion-card>


<ion-card style="margin-bottom: 25px;">    
<ion-row (click)="toggleGroup5(i)" [ngClass]="{active: isGroupShown5(i)}"
style="width: 234px;height: 70px;">
<ion-col size="3" style="margin-bottom: 10px;">
<img src="https://www.startupwala.com/images/easy-to-sell.svg" 
style="height:50px;width:60px;margin-bottom: 0em;text-align: left;">
</ion-col>
<ion-col>
<div>
  <p>Easy to Sell</p>
</div>
</ion-col>
<ion-icon class="left"class="left" [name]="isGroupShown5(i) ? 'chevron-up-outline' : 'chevron-down-outline'" 
style="margin-top: 25px;color: gray;text-align: end;">
</ion-icon>
</ion-row>
<ion-card-content *ngIf="isGroupShown5(i)" style="font-size: 12px;margin-left: 10px;margin-right: 5px;
margin-bottom: 10px;text-align: justify;color: black;">                  
Private Ltd. is easy to sell, very less documentation and cost is involved in selling 
a Pvt. Ltd. company.   
</ion-card-content>
</ion-card>
        
</div>

<!-- -------pre-req---- -->
<div *ngIf="segmentModel === 'Pre-requisites'">
  
  <div class="container" style="text-align: start;">
  <ion-icon name="checkmark-circle-outline"
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
  <ion-label>Minimum 2 shareholders</ion-label></div>

<br>
<div class="container" style="text-align: start;">
  <ion-icon name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>Minimum 2 directors</ion-label></div>
<br>
<div class="container" style="text-align: start;">
  <ion-icon name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>The directors and shareholders can be
same person</ion-label></div>
<br>
<div class="container" style="text-align: start;">
  <ion-icon name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>One of the Directors must be Indian 
  Resident</ion-label></div>
<br>
<div class="container" style="text-align: start;">
  <ion-icon name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>DIN (Director Identification Number) 
   for all Directors</ion-label></div>
<br>
<div class="container" style="text-align: start;">
  <ion-icon name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>DSC (Digital Signature Certificate) for 
 all Promoters</ion-label></div>
<br>
</div>
<!--delvrbles-->

<div *ngIf="segmentModel === 'Deliverables'">

  <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
  <ion-label>DIN for 2 Directors</ion-label></div>
  <br>
 
  <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
  <ion-label>Digital Signature Token for all Promoters
  </ion-label></div>
<br>

<div class="container" style="text-align: start;">
  <ion-icon class="left"name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>Company name approval</ion-label></div>
<br>

<div class="container" style="text-align: start;">
  <ion-icon class="left"name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
  <ion-label>MOA + AOA</ion-label></div>  
<br>

<div class="container" style="text-align: start;">
  <ion-icon class="left"name="checkmark-circle-outline" 
  style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
<ion-label>Incorporation Certificate</ion-label></div>
  <br>

  <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
  <ion-label>New Incorporation Kit</ion-label></div>
<br>

  <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
  <ion-label>Customized Incorporation Master File</ion-label></div>
   <br>
   <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
    <ion-label>Company PAN Card</ion-label></div>
      <br>

      <div class="container" style="text-align: start;">
        <ion-icon class="left"name="checkmark-circle-outline" 
        style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
      <ion-label>Company TAN/TDS Number</ion-label></div>
    <br>

    <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
    <ion-label>Bank Account Opening Document 
    Support</ion-label></div>
    <br>
    <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
    <ion-label>Domain Name for 1 year + Web
      Hosting + 0 Email Ids <ion-text style="margin-left: 30px;">for 1 year OR</ion-text></ion-label></div>
      <br>
    
    <div class="container" style="text-align: start;">
    <ion-icon class="left"name="checkmark-circle-outline" 
    style="position: initial;margin-right: 15px;font-size: initial;color: blue;"></ion-icon>
    <ion-label>Online Accounting Software for 1 year</ion-label></div>
     <br>
     <br>
</div>


  <div *ngIf="segmentModel === 'FAQs'" >

    <ion-list>
      <ion-card>
      <ion-item >
      <h6 (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" style="color: black;font-size: 13px;">
        1. Since Incorporation, Company has not done any business, do we need to file 
          ROC Return?
       <ion-icon class="left" [name]="isGroupShown(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
       style="color: gray;;font-size: 15px;">
      </ion-icon>
      <p *ngIf="isGroupShown(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
      margin-bottom: 10px;text-align: justify;color: black;"> 
      Yes. ROC return gives details of changes taken place in the company during the year and need to be filed
       with the ROC even though the company has not done any business during the year.
      </p></h6>
      </ion-item>
      </ion-card>
  
        <ion-card>
        <ion-item>
        <h6 (click)="toggleGroup1(i)" [ngClass]="{active: isGroupShown1(i)}" style="color: black;font-size: 13px;">
          2. What Forms to be filed for ROC Return?
         <ion-icon class="left" [name]="isGroupShown1(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
         style="color: gray;font-size: 15px;">
        </ion-icon>
        <p *ngIf="isGroupShown1(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
        margin-bottom: 10px;text-align: justify;color: black;"> 
        The eForms to be filed for Annual ROC filing is:
        MGT-7 - Annual return
        AOC- 4 - Financial Statements, Balance Sheet & P&L Account
        </p></h6>
        </ion-item>
        </ion-card>
  
        <ion-card>
        <ion-item>
          <h6 (click)="toggleGroup2(i)" [ngClass]="{active: isGroupShown2(i)}" style="color: black;font-size: 13px;">
            3. What is Annual Filing due date?
           <ion-icon class="left" [name]="isGroupShown2(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
           style="color: gray;font-size: 15px;">
          </ion-icon>
          <p *ngIf="isGroupShown2(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
          margin-bottom: 10px;text-align: justify;color: black;"> 
          A) First Annual Filing of the Company is due on the 30th December of the next year from the date of Incorporation and
          B) Subsequent Annual Filing is due on the 30th September of the same year in which the Financial Year of the Company ends.
          </p></h6>
          </ion-item>
          </ion-card>
  
          <ion-card>
          <ion-item>
            <h6 (click)="toggleGroup3(i)" [ngClass]="{active: isGroupShown3(i)}" style="color: black;font-size: 13px;">
              4. Who is responsible to file Company ROC Return?
             <ion-icon class="left" [name]="isGroupShown3(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
             style="color: gray;font-size: 15px;">
            </ion-icon>
            <p *ngIf="isGroupShown3(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
            margin-bottom: 10px;text-align: justify;color: black;"> 
            It is the duty of the Company and Directors to file ROC Return as both are liable for non filing.
            </p></h6>
            </ion-item>
            </ion-card>
           
            <ion-card>
            <ion-item>
              <h6 (click)="toggleGroup4(i)" [ngClass]="{active: isGroupShown4(i)}" style="color: black;font-size: 13px;">
                5. What is ROC Return Filing fees and charges?
               <ion-icon class="left" [name]="isGroupShown4(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
               style="color: gray;font-size: 15px;">
              </ion-icon>
              <p *ngIf="isGroupShown4(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
              margin-bottom: 10px;text-align: justify;color: black;"> 
            Company having Authorized Capital of Rs. 1 lac is Rs. 300 for each Form AOC-4 and MGT-7 and Company 
            having Authorized Capital of Rs 5 Lac or more is Rs. 400 for each Form.
              </p></h6>
              </ion-item>
              </ion-card>
              
              <ion-card>
              <ion-item>
                <h6 (click)="toggleGroup5(i)" [ngClass]="{active: isGroupShown5(i)}" style="color: black;font-size: 13px;">
                  6. What is Penalty for late filing of Company ROC return?
                 <ion-icon class="left" [name]="isGroupShown5(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
                 style="color: gray;font-size: 15px;">
                </ion-icon>
                <p *ngIf="isGroupShown5(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
                margin-bottom: 10px;text-align: justify;color: black;"> 
              Penalty for delay of up to 30 days -2 times of normal fees
              More than 30 days and up to 60 days - 4 times of normal fees
              More than 60 days and up to 90 days - 6 times of normal fees
              More than 90 days and up to 180 days - 10 times of normal fees
              More than 180 days - 12 times of normal fees
                </p></h6>
                </ion-item>
                </ion-card>
  
                <ion-card>
                  <ion-item>
                    <h6 (click)="toggleGroup6(i)" [ngClass]="{active: isGroupShown6(i)}" style="color: black;font-size: 13px;">
                      7. How to calculate Penalty for late filing of ROC Annual filing?]
                     <ion-icon class="left" [name]="isGroupShown6(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
                     style="color: gray;font-size: 15px;">
                    </ion-icon>
                    <p *ngIf="isGroupShown6(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
                    margin-bottom: 10px;text-align: justify;color: black;"> 
                    Penalty for delay of up to 30 days -2 times of normal fees
                    More than 30 days and up to 60 days - 4 times of normal fees
                    More than 60 days and up to 90 days - 6 times of normal fees
                    More than 90 days and up to 180 days - 10 times of normal fees
                    More than 180 days - 12 times of normal fees
                    </p></h6>
                    </ion-item>
                    </ion-card>
    
                  
                 <ion-card>
                  <ion-item>
                  <h6 (click)="toggleGroup7(i)" [ngClass]="{active: isGroupShown7(i)}" style="color: black;font-size: 13px;">
                    8. Is there any chance of waiver of penalty for non filing of OPC Return?
  
                 <ion-icon class="left" [name]="isGroupShown7(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
                  style="color: gray;font-size: 15px;">
                  </ion-icon>
                <p *ngIf="isGroupShown7(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
                 margin-bottom: 10px;text-align: justify;color: black;"> 
                No, there is no provision for waiver of penalty. MCA has not announced any waiver or amnesty 
                scheme.
                </p></h6>
                    </ion-item>
                    </ion-card>
                  
                
                <ion-card>
                <ion-item>
                <h6 (click)="toggleGroup8(i)" [ngClass]="{active: isGroupShown8(i)}" style="color: black;font-size: 13px;">
                9. How to reply to ROC notice regarding non
                filing of OPC ROC Annual return?
                 <ion-icon class="left" [name]="isGroupShown8(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
                style="color: gray;font-size: 15px;">
                </ion-icon>
                <p *ngIf="isGroupShown8(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
                margin-bottom: 10px;text-align: justify;color: black;"> 
                Startupwala will help you in drafting of reply to Notice and legal formalities with respect to
                 Notice received from ROC.
                </p></h6>
                </ion-item>
                </ion-card>
    
                <ion-card>
                  <ion-item>
                  <h6 (click)="toggleGroup9(i)" [ngClass]="{active: isGroupShown9(i)}" style="color: black;font-size: 13px;">
                    10. How to check OPC Annual Return Filing Status?
                   <ion-icon class="left" [name]="isGroupShown9(i) ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"
                  style="color: gray;font-size: 15px;">
                  </ion-icon>
                  <p *ngIf="isGroupShown9(i)" style="font-size: 12px;margin-top: 20px;margin-right: 20px;
                  margin-bottom: 10px;text-align: justify;color: black;"> 
                  It reflects on the Master Data of the Company on the MCA (Ministry of Corporate Affairs) 
                  website. Please fill the above form and you will receive complete details from our Company 
                  Law expert.
                  </p></h6>
                  </ion-item>
                  </ion-card>
                  <br>
                  <br>
            </ion-list>
          </div>

</ion-content>



